/* roboto-400 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src:
  url("../fonts/Roboto/roboto-400.woff2") format("woff2"),
  url("../fonts/Roboto/roboto-400.woff") format("woff");
  font-display: swap;
}

/* roboto-500 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src:
  url("../fonts/Roboto/roboto-5400.woff2") format("woff2"),
  url("../fonts/Roboto/roboto-500.woff") format("woff");
  font-display: swap;
}
/* roboto-700 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src:
  url("../fonts/Roboto/roboto-700.woff2") format("woff2"),
  url("../fonts/Roboto/roboto-700.woff") format("woff");
  font-display: swap;
}

/* quicksand-regular */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src:
  url("../fonts/Quicksand/quicksand-400.woff2")format("woff2"),
  url("../fonts/Quicksand/quicksand-400.woff") format("woff");
  font-display: swap;
}
/* quicksand-500 */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  src:
  url("../fonts/Quicksand/quicksand-500.woff2") format("woff2"),
  url("../fonts/Quicksand/quicksand-500.woff") format("woff");
  font-display: swap;
}

