.blog-page {
  padding: 120px 0;
  &_item--slider {
    .blog-page__item-box {
      margin-top: -8px;
    }
  }
  &__slider {
    .slick-next,
    .slick-prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 5;
      width: 40px;
      height: 40px;
      background-color: $accent;
      border-radius: 50%;
      border: none;
      box-shadow: 0px 7px 20px 0px rgba(254, 62, 87, 0.3);
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      outline: transparent;
      translate: all 0.3s;
      path {
        fill: #ffffff;
      }
      // &:hover {
      //   background-color: $accent;
      //   path {
      //     fill: #ffffff;
      //   }
      // }
    }
    .slick-disabled {
      box-shadow: 0px 7px 20px 0px rgba(168, 168, 168, 0.3);
      background-color: #ffffff;
      path {
        fill: $accent;
      }
    }
    .slick-next {
      right: 40px;
    }
    .slick-prev {
      left: 40px;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    width: 770px;
    margin-right: 30px;
  }

  &__aside {
    width: 370px;
  }

  &__item {
    margin-bottom: 60px;
    // &:nth-child(4) {
    //   border-top: 1px solid #ececec;
    //   box-shadow: 0px 20px 60px 0px rgba(202, 202, 202, 0.35);
    // }
    // &:last-child {
    //   border-top: 1px solid #ececec;
    //   box-shadow: 0px 20px 60px 0px rgba(202, 202, 202, 0.35);
    // }
    &.blog-page__item--no-image {
      border-top: 1px solid #ececec;
      box-shadow: 0px 20px 60px 0px rgba(202, 202, 202, 0.35);
    }
  }

  &__link {
    display: block;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
  }

  &__img {
    max-width: 770px;
    height: 450px;
    object-fit: cover;
    display: block;
  }

  &__item-box {
    border: 1px solid #ececec;
    border-top: none;
    padding: 40px;
  }

  &__title {
    color: $title;
    @extend %roboto-500;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 20px;
    transition: color 0.3s;
    &:hover {
      color: $accent;
      cursor: pointer;
    }
  }
  .blog-box {
    justify-content: start;
    &__author {
      margin-right: 30px;
    }
  }
}

.blog-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  &__author,
  &__date {
    padding-left: 30px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      top: 4px;
    }
  }

  &__author::before {
    background-image: url("../images/icons/blog-user.svg");
  }

  &__date::before {
    background-image: url("../images/icons/blog-date.svg");
  }
}

.person {
  border: 1px solid #ececec;
  margin-bottom: 40px;
  text-align: center;
  padding: 40px 25px;
  &__img {
    margin: 0 auto 35px;
    width: 160px;
    height: 160px;
    object-fit: cover;
  }
  &__name {
    display: block;
    color: $title;
    font-size: 18px;
    @extend %roboto-700;
  }
  &__position {
    color: $accent;
    margin-bottom: 25px;
  }
  &__text {
    margin-bottom: 25px;
  }
  &__social-link {
    margin: 0 8px;
    path {
      fill: $default;
      transition: all 0.3s;
    }
    &:hover {
      path {
        fill: $accent;
      }
    }
  }
}

.latest-post {
  padding: 35px 30px 40px;
  border: 1px solid #ececec;
  margin-bottom: 40px;
  &__title {
    color: $title;
    text-transform: uppercase;
    @extend %roboto-400;
    margin-bottom: 35px;
  }
  &__item {
    margin-bottom: 20px;
    display: flex;
    & + .latest-post__item {
      border-top: 1px solid #ececec;
      padding-top: 20px;
    }
  }
  &__img-link {
    display: block;
    margin: 0 20px 20px 0;
    width: 80px;
  }
  &__img {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
  &__title-link {
    @extend %roboto-400;
    font-size: 18px;
    color: $title;
  }
  &__date {
    padding-left: 26px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 5px;
      background-image: url("../images/icons/calendar.svg");
      width: 16px;
      height: 16px;
    }
  }
}

@media (max-width: 1230px) {
  .person,
  .latest-post {
    display: none;
  }
  .blog-page {
    &__inner {
      flex-direction: column;
    }
    &__content {
      width: 100%;
      margin-right: 0;
    }
    &__aside {
      width: 100%;
      order: -1;
    }
    &__img {
      max-width: 100%;
      width: 100%;
    }
  }
}

@media (max-width: 620px) {
  .blog-page {
    padding: 60px 0;
    &__item-box {
      padding: 20px;
    }
    &__img{
      height: 260px;
    }
  }
}

@media (max-width: 375px) {
  .blog-page {
    &__item-box {
      padding: 20px 5px;
    }
    &__img{
      height: 170px;
    }
    &__slider{
      .slick-next{
        right: 10px;
      }
      .slick-prev{
        left: 10px;
      }
    }
  }
}
